<html>
<head>
    <title>Label Printer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<link rel="stylesheet" href="static/sakura.css" type="text/css">
<link rel="stylesheet" href="static/out.css" type="text/css"/>

<body>

<main class="max-w-fit mx-auto">
    <section class="template">
        <form>
            <label for="sel-label">Label:
                <select id="sel-label" name="labels">
                    {% for label in labels %}
                        <option>{{ label }}</option>
                    {% endfor %}
                </select>
            </label>
        </form>
    </section>

    <section class="form">
        <form id="form"></form>
        <button id="btn">Print</button>
    </section>

    <section class="preview">
        <div id="scalefix">
            <div id="wrapper" class="whitespace-nowrap">
                Loading template...
            </div>
        </div>
    </section>

    <section class="history">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Label</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <!-- Content will be dynamically generated here -->
            </tbody>
        </table>
    </section>


</main>

<script src="static/dom-to-image-more.min.js"></script>
<script src="static/qrcode.min.js"></script>
<script src="static/app.js"></script>
</body>
</html>
